@charset "utf-8";
input[type="checkbox"] {
  display: none;
  font-family: sans-serif;
}

body {
  color: #767678;
  height: 138px;
}

.header_inner {
  position: relative;
  height: 138px;
  width: 743px;
  margin: auto;
}
.inner {
  margin: auto;
  width: 458px;
}
.sp_Img::after {
  content: "";
  background: url(images/m_sp_00_common_978240a6.png) no-repeat;
  background-size: 244px 107px;
}

.sp_Img2::before {
  content: "";
  background: url(images/m_sp_01_login_7b3d4fc3.png) no-repeat;
  background-size: 336px 330px;
}
.sp_Img3::after {
  content: "";
  background: url(images/m_sp_01_login_7b3d4fc3.png) no-repeat;
  background-size: 336px 330px;
}
.logo a::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 155px;
  height: 30px;
  background-position: 0 -51px;
}
.lang {
  position: absolute;
  top: 20px;
  right: 0;
}
/*//header*/

/*main*/
.naver_login {
  font-size: 0;
}
input[type="radio"] {
  display: none;
}

#tab1:checked ~ .tab_Menu > #content1 {
  display: block;
}
#tab2:checked ~ .tab_Menu > #content2 {
  display: block;
}
#tab3:checked ~ .tab_Menu > #content3 {
  display: block;
}
#tab1 ~ #tab3 label {
  display: inline-block;
  margin-top: 48px;
  font-size: 16px;
  font-weight: 500;
  line-height: 60px;
  text-align: right;
  padding-right: 26px;
  width: 33.3%;
  height: 60px;
  background-color: #f5f6f7;
  color: #777;
}
.tab_Id::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: -73px -315px;
  vertical-align: middle;
}
#tab1:checked + label > .tab_Id::before {
  background-position: -317px -103px;
}
.tab_Num::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: -317px -294px;
  vertical-align: middle;
}
#tab2:checked + label > .tab_Num::before {
  background-position: -317px -276px;
}
.tab_Qr::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: -19px -315px;
  vertical-align: middle;
}
#tab3:checked + label > .tab_Qr::before {
  background-position: -317px -240px;
}
.content1,
.content2,
.content3 {
  border: 1px solid #e1e3e5;
  border-radius: 10px;
  width: 458px;
  margin: 0 auto 20px;
  padding: 24px 24px 12px;
  display: none;
}
/* .content1 {
  display: none;
} */

.user {
  border: 1px solid #c5ccd2;
  width: 410px;
  height: 60px;
  padding-left: 10px;
}
.user_Id {
  border-radius: 7px 7px 0 0;
}
.user_Pw {
  border-top: 0;
  border-radius: 0 0 7px 7px;
  margin-bottom: 12px;
}
.content1 p {
  text-align: center;
  font-size: 14px;
  margin: 24px 0;
}

.content2_Text {
  width: 100%;
  height: 88px;
}
.content2 p {
  position: relative;
  color: #1e1e23;
  text-align: center;
  font-size: 15px;
}
.setting:after {
  display: inline-block;
  background-position: -317px -222px;
  vertical-align: middle;
  margin: 0 2px 0 5px;
  width: 17px;
  height: 16px;
}
.content2_Text a::after {
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 8px;
  padding-left: 5px;
  width: 11px;
  height: 11px;
  background-position: -275px -64px;
}

/*
.tab2_2::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: -73px -315px;
  vertical-align: middle;
}
.tab3::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: -73px -315px;
  vertical-align: middle;
}*/
.font_G {
  color: #09aa5c;
  font-weight: 500;
}

.user_Num {
  height: 50px;
  border-radius: 7px;
  margin-bottom: 10px;
}
.content3 p {
  text-align: center;
}
.qr_Img {
  padding: 11px 155px 23px;
}
.qr_Img img {
  width: 100px;
  height: 100px;
}
.content3_Text {
  padding: 5px 0 4px;
  color: #1e1e23;
  font-weight: 500;
  font-size: 14px;
}
.small_T {
  padding-bottom: 10px;
  font-size: 12px;
  color: #666;
}
.sp_App:after {
  display: inline-block;
  width: 11px;
  height: 11px;
  background-position: -275px -90px;
  vertical-align: middle;
  padding-inline-start: ;
}
.sp_Lens::after {
  display: inline-block;
  width: 11px;
  height: 11px;
  background-position: -275px -77px;
  vertical-align: middle;
}
.safe_Box {
  position: relative;
  margin-bottom: 20px;
}
.btnCheck {
  font-size: 14px;
}
.btnCheck::before {
  position: absolute;
  background-position: -292px -236px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
input[type="checkbox"]:checked + .btnCheck::before {
  background-position: -66px -292px;
}
input[type="submit"] {
  width: 410px;
  height: 50px;
  border-radius: 7px;
  font-size: 17px;
}
.safe_Box span {
  display: block;
  height: 20px;
  padding-left: 26px;
  line-height: 20px;
}
.login {
  background: #09aa5c;
  color: #fff;
}
.bar {
  position: relative;
}
.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: 109px;
  height: 1px;
  background: #efeff0;
  top: 50%;
}
.bar::before {
  left: 0;
}
.bar::after {
  right: 0;
}
.passkey {
  font-weight: 700;
  border: 1px solid #09aa5c;
  color: #09aa5c;
}
.menu {
  font-size: 14px;
  padding: 0 100px;
  margin-bottom: 50px;
}
.menu li {
  position: relative;
  display: inline-block;
}
.menu li a {
  display: block;
  padding: 0 5px;
}
.menu li ~ li a::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0px;
  width: 1px;
  height: 12px;
  background: #dadada;
}

.ads_image img {
  width: 462px;
  height: 150px;
}
/*footer*/
footer {
  font-size: 12px;
  padding: 48px 0 32px;
}
.footer_menu {
  padding: 0 24px;
  margin-bottom: 12px;
}
.footer_menu li {
  position: relative;
  display: inline-block;
}
.footer_menu li a {
  display: block;
  padding: 0 7px;
}
.footer_menu li ~ li a::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 1px;
  height: 12px;
  background: #dadada;
}
.footer_menu li strong {
  font-weight: 700;
}
.footer_logo {
  position: relative;
}
.footer_logo a::after {
  position: absolute;
  top: 0;
  left: 70px;
  width: 70px;
  height: 15px;
  background-position: -158px -52px;
  vertical-align: middle;
}
.Copyright {
  margin-left: 142px;
  height: 15px;
  line-height: 15px;
}
.copy {
  padding: 0 2px;
  color: #000;
}
